/*
  Table of Contents

    1. Variables
    2. Global Styles
    3. Header
    4. Navbar
    5. Body
    10. Media Queries 992px
    11 Media Queries 576px

*/
/*================== 1. Variables =================*/
:root {
    --primary-color: #4555d2;
    --secondary-color: #cc2973;
    --dark-color: #191e47;
    --light-color: #f9fafe;
    --body-color: #494c52;
    --heading-color: var(--dark-color);
}

/*================== 2. Global Styles =================*/
/* Utilice un modelo de tamaño de caja más intuitivo */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remueve margen padding predeterminado */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Open Sans', sans-serif;
}

/* Agregar altura de línea accesible. Mejorar la representación del texto */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    /*     height: 1000vh; */
}

/* Eliminar estilos de lista (viñetas/números) */
li,
ol,
ul,
menu,
summary {
    list-style: none;
}

/* Desplazamiento suave */
html:focus-within {
    scroll-behavior: smooth;
}

/* Los elementos que no tienen una clase obtienen estilos predeterminados */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Hace que sea más fácil trabajar con imágenes */
canvas,
img,
picture,
video,
figure,
svg {
    display: block;
    max-width: 100%;
}

/* Heredar fuentes para entradas y botones */
button,
input,
select,
textarea {
    font: inherit;
}

/*================== 4. Navbar =================*/
.navbar {
    transition: all 0.5s ease-in-out;
}

.navbar-sticky {
    background: #fff;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-outline-secondary {
    color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    border-radius: 50rem;
}

.btn-outline-secondary:hover {
    background-color: var(--secondary-color);
    color: #fff !important;
}


/*================== 3. Header =================*/
.xl-text {
    font-size: 75px;
}

.header .decoration-star {
    top: 80px;
    left: -200px;
    width: 500px;
    opacity: 0.7;
}

.header .decoration-star-2 {
    top: 80px;
    right: -200px;
    width: 500px;
    opacity: 0.7;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 50rem;
}

.btn-primary:hover {
    background-color: var(--dark-color)
}

.btn-secondary {
    background-color: #fff;
    color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    border-radius: 50rem;
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
    color: #fff !important;
}

/*================== 5. Body =================*/

/*================== 10. Media Queries 992px=================*/
@media (max-width: 992px) {
    .navbar .navbar-nav {
        margin-top: 25px;
    }

    .navbar .btn-outline-secondary {
        margin-top: 20px;
    }

    .xl-text {
        font-size: 50px;
    }

    .header {
        margin-top: 0px !important;
        text-align: center;
    }

    .header .decoration-star {
        left: -100px;
        width: 250px;
    }

    .header .decoration-star-2 {
        right: -100px;
        width: 250px;
    }

    .header .image-container {
        margin-top: 30px;
    }
}

/*================== 11. Media Queries 576px=================*/
@media (max-width: 576px) {}